@if (toastMessage){
<div class="toast">{{ toastMessage }}</div>
}

<div class="products-container">
    <div class="header-section">
        <h1>Каталог товаров</h1>
        <div class="cart-info">
            <div class="cart-summary">
                <span class="cart-icon">🛒</span>
                <span class="cart-count">Товаров в корзине: {{ totalItemsCount }}</span>
                <span class="cart-total">Итого: {{ totalPrice }} ₴</span>
                <button class="btn-clear" (click)="clearCart()" [disabled]="cart.length === 0">Очистить корзину</button>
            </div>
        </div>
    </div>


    <!-- Выбранный товар -->
    <div class="selected-product" *ngIf="selectedProduct">
        <h2>Выбранный товар</h2>
        <div class="selected-info">
            <strong>{{ selectedProduct.name }}</strong> - {{ selectedProduct.price }} ₴
        </div>
    </div>

    @if (loading){
    <p class="loading">Загрузка товаров...</p>
    }
    @if (error){
    <p class="error">{{error}}</p>
    }


    <h2>{{ loading }}</h2>
    <h1 *ngIf="loading">Test 1</h1>


    <!-- Список товаров -->
    <!-- @if (!loading && error === null){ -->
    <div *ngIf="!loading && error === null" class="products-grid">
        <app-product-card *ngFor="let product of products" [product]="product"
            [cartQuantity]="getCartQuantity(product.id)" (addToCart)="onAddToCart($event)"
            (updateQuantity)="onUpdateQuantity($event)" (productSelected)="onProductSelected($event)"
            (removeFromCart)="onRemoveFromCart($event)">

        </app-product-card>
    </div>
    <!-- } -->



    <!-- Корзина -->
    <div class="cart-section" *ngIf="cart.length > 0">
        <h2>Товары в корзине: </h2>
        <div class="cart-items">
            <div class="cart-item" *ngFor="let item of cart">
                <div class="cart-item-info">
                    <span class="cart-item-name">{{ item.product.name}}</span>
                    <span class="cart-item-qty">{{item.quantity}} x {{item.product.price}} ₴</span>
                </div>
                <span class="item-price">{{ item.product.price * item.quantity }} ₴</span>
            </div>
        </div>
    </div>
</div>