<div class="product-card" (click)="onProductClick()">
    <div class="product-image">
        <img *ngIf="!imageError" [src]="product.image" [alt]="product.name" (error)="onImageError()">
        <div *ngIf="imageError" class="image-placeholder">
            <span class="placeholder-icon">📦</span>
            <span class="placeholder-text">{{ product.name }}</span>
        </div>
        <span class="stock-badge" [class.in-stock]="product.inStock" [class.out-of-stock]="!product.inStock">
            {{ product.inStock ? 'В наличии' : 'Нет в наличии'}}
        </span>
    </div>

    <div class="product-info">
        <h3 class="product-name">{{ product.name }}</h3>
        <p class="product-description">{{ product.description }}</p>

        <!-- Кол-во -->
        <div class="quantity-selector" (click)="$event.stopPropagation()">
            <span class="quantity-label">Кол-во:</span>
            <div class="quantity-controls">
                @if (!isInCart){
                <button type="button" class="btn-qty" (click)="decrementQuantity()" title="Меньше">-</button>
                }

                @if (isInCart){
                    <select
                    class="qty-select qty-select-cart"
                    [ngModel]="cartQuantity"
                    (ngModelChange)="onCartQuantityChange(+$event)"
                    [disabled]="!product.inStock">
                    @for (n of quantities; track n){
                        <option [value]="n">{{n}}</option>
                    }
                    <option [value]="0">0 - убрать</option>
                    </select>
                } @else{
                    <select
                    class="qty-select"
                    [ngModel]="quantity"
                    (ngModelChange)="onQuantitySelectChange(+$event)"
                    [disabled]="!product.inStock">
                    @for (n of quantities; track n){
                        @if (n <= availableMaxQuantity){
                            <option [value]="n">{{ n }}</option>
                        }
                    }
                    </select>
                }

                @if (!isInCart){
                <button type="button" class="btn-qty" (click)="incrementQuantity()" title="Больше">+</button>
                }

            </div>
        </div>

        <div class="product-footer">
            <span class="product-price">{{ product.price }} ₴</span>
            <div class="product-actions">
                <button class="btn btn-add" [disabled]="!product.inStock"
                    (click)="onAddToCart(); $event.stopPropagation()">В корзину</button>

                <button class="btn btn-remove" (click)="onRemoveFromCart(); $event.stopPropagation()">Удалить</button>
            </div>
        </div>
    </div>
</div>