<h1>Пример *ngIf</h1>

<!-- <div *ngIf="isLoggedIn">
    Добро пожаловать, пользователь!
</div>
<div *ngIf="!isLoggedIn">
    Пожалуйста, войдите в систему!
</div> -->



<!-- <div *ngIf="isLoggedIn; else loginBlock">
    <p>Добро пожаловать, пользователь!</p>
</div>

<ng-template #loginBlock>
    Пожалуйста, войдите в систему!
</ng-template> -->

<!-- <button (click)="toggleLogin()">
    {{ isLoggedIn ? 'Выйти' : 'Войти' }}
</button> -->



<div [ngSwitch]="userRole">
    <div *ngSwitchCase="'admin'">Вы админ</div>
    <div *ngSwitchCase="'user'">Вы пользователь</div>
    <div *ngSwitchDefault>Вы гость</div>
</div>

<button (click)="setRole('admin')">Сделать админом</button>
<button (click)="setRole('user')">Сделать пользователем</button>
<button (click)="setRole('guest')">Сделать гостем</button>